html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
	font-weight: 400;
	color: #ccc;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

a {
    color: #888;
}

* {
	box-sizing: border-box;
}

#app {
    padding-top:20px;
    padding-bottom:20px;
  margin: auto;
  max-width: 620px;
}
